.bgvideo{
    height: 50vh;
    width: 90%;
    position: relative;
    display: flex;
    
}
.bgvideo video {
    height: 50vh;
    width: 90%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    z-index: 1;
}
